 body{ 


/* font-size: 1em;*/


/* font-family: "Segoe UI, sans-serif"; margin: 10px;*/


 }	

			#left {float:left; width:20%;}


			.main {float:left; margin-left: 2%; width:40%; }


			#impressum {float:left; margin-left: 2%; width:60%; }


			#detail {float:right; width:36%; display:none; }


			#detail-front {float:right; width:35%; margin-top:7em; margin-left:3%;}





            .page-read {float: left; width:43%; margin: 2em 0.5em;  padding: 1em 2em;} 





			.site-name {font-size: 1.6em; margin-left: 1em;}


			.subtitle { font-style:italic; font-weight: normal; font-size:0.6em; vertical-align: sub; padding-left:0.4em;}


			.intro {text-align:justify;}


		    .record-detail p {text-align: justify;}


		    span.date { font-style:italic;}





            h1, h2, h3 { font-family: "Segoe UI"; font-weight:400;}


            h1 { margin: 15px 0;}


            .main h1 {margin-top: 2em;}


            h2 {font-size: 1.3em; }


            h3 {font-size: 1.2em;}


            table {font-size: 1em}


.result-navigation {float:right;}         


.result-body .title {border-top: 1px solid #C6C5C3; margin-top:0px; font-size: 1.1em;}


.result-body table {width:100%;}





#detail .title {display:inline-block; margin:auto} 


#detail .navigation {float:right;}


#detail .navigation .prev { display: inline-block; background: url("imgs/cdb-icon-prev.png") no-repeat center right; padding-right:1.2em; }


#detail .navigation .next { display: inline-block; background: url("imgs/cdb-icon-next.png") no-repeat center left; padding-left:1.2em; margin-left:0.5em;}





.header { margin: 0.5em 0;}


.header form {margin-bottom: 0.2em;}





/* customize cmds.ui */


    ul { padding-left: 10px;}


    li { background-position: 0 5px; padding-left: 10px; margin-bottom: 6px;}


    .hilight{ background-color: #DCDCFF; border: 1px solid #9999cc;}


    #input-simplequery {    font-size: 1.3em; margin-top: 0;    width: 70%;}


    #top-menu {right: 30px; top: 70px; }


    #top-menu a { margin: 0 0.5em;}








/* customize jquery-ui*/


			.ui-widget {font-size: 1em; font-family: inherit;}


			.ui-tabs .ui-tabs-panel { padding:1em;}


			


			.ui-tabs .ui-tabs-nav li a, .result-header {padding: 0.2em 0.5em; }


			.ui-accordion .ui-accordion-header a {padding: 0.1em 0.3em;}


.ui-datepicker {width: auto;}


.ui-datepicker table {width: 100%;}


.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {    width: auto; }


			


/*demo page css*/


			/* body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 20px;}


			.demoHeaders { margin-top: 2em; }


			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}


			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}


			ul#icons {margin: 0; padding: 0;}


			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}


			ul#icons span.ui-icon {float: left; margin: 0 4px;}


			*/


		