<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title class="app:title">App Title</title>
        <meta class="config:app-meta"/>
<!--        <link rel="shortcut icon" href="images/favicon.ico"/>-->
        <!--<link rel="stylesheet" type="text/css" href="modules/shared/scripts/css/bootstrap.min.css"/>-->
        <link type="text/css" href="css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet"/>
        <link type="text/css" href="css/cmds-ui.css" rel="stylesheet"/>
        <link type="text/css" href="modules/shared/scripts/style/cr.css" rel="stylesheet"/>
        <link type="text/css" href="css/stb.css" rel="stylesheet"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery.min.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery-ui.min.js"/>
        <!--<script type="text/javascript" src="js/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="js/jquery-ui-1.8.18.custom.min.js"/>-->
<!--        <script type="text/javascript" src="modules/shared/scripts/js/jquery.layout.js"/>-->
        <script type="text/javascript" src="modules/shared/scripts/js/jquery.ui.datepicker-de.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/query_input/qi.js"/>
        <script type="text/javascript" src="js/stb.js"/>
        
        
        <!--    <script type="text/javascript" src="sade/modules/fcs/scripts/js/jquery/jquery.tablesorter.js"/>
            <script type="text/javascript" src="sade/modules/fcs/scripts/js/jquery/jquery.uitablefilter.js"/>
        -->
        <link class="config:html-head"/>
    </head>
    <body id="body">
        <div class="templates:include?path=header.xml">welcome
            <span id="logo" class="app:logo">
                <a href="./index.html">
                    <img src="images/logo.png"/>
                </a>
            </span>
            <div id="site-name">
<!--                <a class="config:app-title brand" href="./index.html">App Title</a>-->
                <span class="app:title brand">App Title</span>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container"/>
            </div>
        </div>
        <div id="content" class="container"/>
    </body>
</html>